<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My p5.js Sketch</title>
  <p>Hello World</p>
</head>
<body style="text-align:center; font-family:sans-serif;">
  <div id="sketch-holder"></div>
  <div id="video-holder"></div>

  <!-- p5.js and ml5.js libraries -->
  <script src="/lib/p5.js"></script>
  <script src="/lib/ml5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-core"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs-converter"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/hand-pose-detection"></script>
  <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands"></script>
  <!-- Your sketch -->
  <script src="/sketch.js"></script>
</body>
</html>